<div class="container">
    <div class="split-example" style="height: 100vh; width: 100vw;">
      <as-split direction="horizontal" restrictMove="true" [useTransition]="true" [gutterSize]="1">
        <as-split-area size="15">  
            <app-palete-panel></app-palete-panel>
        </as-split-area>
        <as-split-area size="85">
          <as-split direction="vertical" restrictMove="true" [gutterSize]="1">
            <as-split-area size="80">
                <p-tabView>
                    <p-tabPanel header="main">
                        <app-canvas-panel></app-canvas-panel>
                    </p-tabPanel>
                    <!-- <p-tabPanel header="File 2">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                        </p>
                    </p-tabPanel> -->
                </p-tabView>  
            </as-split-area>
            <as-split-area size="20">
                <as-split direction="horizontal" restrictMove="true" [useTransition]="true" [gutterSize]="1">
                    <as-split-area size="50">
                        Input
                    </as-split-area>
                    <as-split-area size="50">
                        Output
                    </as-split-area>
                </as-split>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>  
    </div>
</div>