.drawflow {
    height: 100%;
    // background: #2b2c30;
    // background-size: 20px 20px;
    // background-image: radial-gradient(#494949 1px, transparent 1px);
}

.parent-drawflow {
    height: 100%;
}

.drawflow .drawflow-node {
    border-radius: 8px;
    background: #181818;
    border: 2px solid #494949;
    color: white;
    min-width: 250px;
    padding:0;

    .node-header {
        background: #494949;
        // border-radius: 8px 8px 0 0;
        // margin-top: -25px;
        // margin-left: -15px;
        // margin-right: -15px;
        padding: 10px 15px;
        margin-bottom: 15px;
        text-align: center;
        font-size: large;
        font-weight: bold;
    }

    .node-body {
        padding: 15px;
    }
}

.drawflow .drawflow-node.selected {
    background: #181818;
    border: 2px solid rgb(250, 0, 175);
}

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
    background: #181818;
    border: 3px solid #494949;
    width: 15;
    height: 15;
    // margin-top: 14px;
    // margin-bottom: 14px;
}

.drawflow .drawflow-node .input {
    left: 0px;
}

.drawflow .drawflow-node .output {
    right: 0px;
}

.drawflow .drawflow-node .output:hover, .drawflow .drawflow-node .input:hover {
    background: #494949;
    border: 3px solid rgb(250, 0, 175);
}

.drawflow .connection .main-path {
    stroke-width: 3px;
    stroke: #c5c343;
}

.drawflow .connection .main-path:hover {
    stroke: rgb(250, 0, 175);
}

.parent-node .drawflow-delete {
    display: none !important;
}

.drawflow .drawflow-node.selected .drawflow_content_node .header {
    background:rgb(250, 0, 175);
}

.drawflow .drawflow-node .drawflow_content_node .node-body {
    display: flex;
}

.drawflow .drawflow-node .drawflow_content_node .node-body .node-field {
    display: flex;
    flex-direction: row;
}

.drawflow .drawflow-node .drawflow_content_node .node-body input {
    display: inline;
    background:none;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #494949
}

.drawflow .drawflow-node .drawflow_content_node .node-body input:focus {
    outline: none;
}

.drawflow .drawflow-node .drawflow_content_node .node-body .node-field {
    input, select {
        width: 100%;
        margin-left: .5rem;
    }
}

/*-------------- Var Define --------------- */

.drawflow .drawflow-node.var-define .drawflow_content_node .node-body {
    
    > div:nth-child(1) {
        margin-right: .5rem;
        margin-left: 1rem;
        width: 70%;
    }
    
    > div:nth-child(2) {
        margin-right: 1rem;
        width: 30%;
        text-align: right;
    }
}

.drawflow .drawflow-node.var-define .drawflow_content_node .node-body .node-field:nth-child(1) {
    margin-bottom: .5rem;
}

.drawflow .drawflow-node.var-define .inputs .input:nth-child(1) {
    top: 43px;
    left: 5px;
}

.drawflow .drawflow-node.var-define .outputs .output:nth-child(1) {
    top: 15px;
    right: 25px;
}

/*-------------- Var Set --------------- */

.drawflow .drawflow-node.var-set .drawflow_content_node .node-body {
    
    > div:nth-child(1) {
        margin-right: .5rem;
        margin-left: 1rem;
        width: 70%;
    }
    
    > div:nth-child(2) {
        margin-right: 1rem;
        width: 30%;
        text-align: right;
    }
}

.drawflow .drawflow-node.var-set .drawflow_content_node .node-body .node-field:nth-child(1) {
    margin-bottom: .5rem;
}

.drawflow .drawflow-node.var-set .inputs .input:nth-child(1) {
    top: 43px;
    left: 5px;
}

.drawflow .drawflow-node.var-set .outputs .output:nth-child(1) {
    top: 15px;
    right: 25px;
}

/*-------------- Var Get --------------- */

.drawflow .drawflow-node.var-get .drawflow_content_node .node-body {
    
    > div:nth-child(1) {
        margin-right: .5rem;
        width: 70%;
    }
    
    > div:nth-child(2) {
        margin-right: 1rem;
        width: 30%;
        text-align: right;
    }
}

.drawflow .drawflow-node.var-get .drawflow_content_node .node-body .node-field:nth-child(1) {
    margin-bottom: .5rem;
}

.drawflow .drawflow-node.var-get .inputs .input:nth-child(1) {
    top: 43px;
    left: 5px;
}

.drawflow .drawflow-node.var-get .outputs .output:nth-child(1) {
    top: 25px;
    right: 25px;
}

.custom-hand-gutter-icon {
    opacity: 0.6;
    transition: opacity 0.3s;
    cursor: grab;

    background-color: none;
  
    .as-horizontal & {
      background: blue !important;
      width: 5px;
      height: 25vh;
      border-radius: 10px;
    }
  
    .as-vertical & {
        background: blue !important;
        width: 25vh;
        height: 5px;
        border-radius: 10px;
    }
  
    &:hover {
      opacity: 1;
    }
  }

  .as-split-gutter {
    background: none !important;
  }

  .p-panel {
    .p-toggleable-content {
        .p-panel-content {
            height: 100%;
        }
      height: 100%;
    }
    height: 100%;
  }

//   .p-panel-header {
//     display: none;
//   }