/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "editor.scss";

html,body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    padding: 1rem;
}

.container {
    height: 100%;
}

.p-splitter {
    background: none;
    border-radius: 0;
}

.mb-1 {
    margin-bottom: .5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.ml-1 {
    margin-left: .5rem;
}

.mr-1 {
    margin-right: .5rem;
}

.p-tree {
    border: none;
    background: none;
    padding:1rem;
}

.p-fieldset {
    height: 100%;
    background: none;
    border-width: 3px;

    .p-toggleable-content, .p-fieldset-content {
        height: 100%;
        padding: 1rem;
    }
}
.p-fieldset-legend {
    background: none;
    border: none;
    font-weight: normal;
    padding-top: 0;
}

